<div class="row">
  <!-- A and B side-by-side -->
  <div class="col-md-6">
    <div name="context_text_A" class="instance">
      <h5><strong>Paragraph A</strong></h5>
      <div name="instance_text">
        {{ instance.text_list[0] | safe }}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div name="context_text_B" class="instance">
      <h5><strong>Paragraph B</strong></h5>
      <div name="instance_text">
        {{ instance.text_list[1] | safe }}
      </div>
    </div>
  </div>
</div>

<div style="height: 20px;"></div>

<!-- Annotation schema (below both boxes) -->
<div class="row">
  <div class="col-md-12">
    <div class="annotation_schema">
      {{ annotation_schematic }}
    </div>
  </div>
</div>
